<div class="row">
  <div class="span14">
<ol class="media-grid">
  <% artists.first(24).each do |artist| %>
    <li class="artist-image">
      <a class="artist-image" <% if artist.mbid %>href="/artists/<%= artist.mbid%>"<% end %>>
        <img class="thumbnail" onhover="" src="<%= artist.image %>" alt="<%= artist.name + ": #{pluralize(artist.num_times)}" %>" title="<%= artist.name + ": #{pluralize(artist.num_times)}" %>">
      </a>
    </li>
  <% end %>
</ol>
    </div>
</div>
<div class="row">
  <h5><div class="artist-name">&nbsp;</div></h5>
</div>

<script type="text/javascript">
$(".artist-image img").hover(
  function () {
    $('div.artist-name').html($(this).attr('title'));
  }
);
</script>
