<span class="venue-stats"></span>
<script type="text/javascript">
$(document).ready(function() {
  var parts = $(location).attr('href').split('?')[0];
  parts = parts.split('/');
  var id = parts.pop();
  var type = parts.pop();
  $.get("/api/"+type+"/"+id+"/venues/stats.json", function(json) {
    if (json['type'] == 'pub') {
      $('.venue-stats').html('mostly at pubs and basements');
    }
    if (json['type'] == 'arena') {
      $('.venue-stats').html('mostly at arenas and stadiums');
    }
  });
});
</script>