<form method="get" action="/users">
  <input type="text" placeholder="username" name="username">
  <input type="text" placeholder="year" name="year"><input type="submit" value="go!">
</form>

<form method="get" action="/artists">
  <input type="text" placeholder="artist mbid" name="artist_mbid">
  <input type="text" placeholder="year" name="year"><input type="submit" value="go!">
</form>