<div class="row">
  <div class="span9">
    <div class="span6"><h2><a href="/users">songkick user</a></h2> <h3 style="padding:20px">or</h3> <h2><a href="/artists">artist</a></h2> </div>
  </div>
</div>
