<!DOCTYPE html>
<html>
  <head>
  <title>relively</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/lively.css" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <%= @javascript %>
</head>
<body onload="<%= @on_load_javascript %>">
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <span class="brand"><a href="/">relively</a></span>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="hero-unit">
      <%= yield %>
    </div>

    <footer>
      <div><a href="http://saleandro.com">saleandro</a></div><div>and</div>
      <a href="http://www.echonest.com"><img src="/images/echonest.gif" width="100"></a>
      <a href="http://www.songkick.com"><img src="/images/songkick.png" width="100"></a>
      <a href="http://last.fm"><img src="/images/lastfm.jpg" width="100"></a>
    </footer>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33556991-1']);
    _gaq.push(['_setDomainName', 'relively.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>