body {
  padding-top: 60px;
}

.navbar .brand {
  margin: 0;
  margin-left: 10px;
  font-size: 46px;
}
.navbar .brand a:hover {
  color: #f86484;
  text-decoration: none;
}

a {
 color: #f86484;
}
a:hover {
  text-decoration: none;
}

#map {
  height: 400px;
  width: 100%;
  margin-top: 10px;
}

.top-terms {
  padding: 20px;
  list-style: none;
  text-align: center;
  width: 400px;
}

.top-terms li {
  display: inline;
  margin-right: 10px;
}

.stats {
  font-size: 2em;
  height: 100px;
  margin-top: 10px;
  text-align: right;
}

.stats span {
  display:block;
  line-height: 25px;
  margin-top: 5px;
}

.percentage {
  font-size: 0.8em;
  color: #808080;
}

.venue-stats  {
  font-size: 0.6em;
  color: #808080;
}

a.artist-image, span.artist-image {
  float:left;
  background-color: black;
  border: 2px solid white;
  display: block;
  height: 100px;
  overflow: hidden;
  width: 100px;

  border-radius: 0px;
  box-shadow: none;
  margin: 0 0 0px 0px;
  padding: 0px;
}

a.artist-image {
 cursor: pointer;
}

a.artist-image:hover {
  text-decoration: none;
  border-color: #f86484;
}

.artist-count {
   -moz-transition: all 0.5s linear 0s;
  background: none repeat scroll 0 0 #EEEEEE;
  bottom: 16px;
  color: #666666;
  font-size: 1em;
  font-weight: bold;
  padding: 2px 6px 2px 4px;
}

.artist-name {
  font-size: 1.6em;
  margin: 10px;
}

.distance {
  font-size: 1.6em;
  margin: 10px;
}

.artist-name, .top-venue, .distance {
  color: #666666;
}

h3 {
  margin-top: 10px;
}

.topbar {
  position: absolute;
}

.term1 {
  font-size: 1.6em;
}

.term2 {
  font-size: 1.4em;
}

.term3 {
  font-size: 1.2em;
}

footer {
  text-align: right;
}

footer img {
  margin-left: 10px;
  margin-bottom: 10px;
  vertincal-align: bottom;
}

footer a {
  font-size: 1.6em;
  font-weight: bold;
}

.hero-unit h1 {
  font-size: 45px;
}

.hero-unit img {
  vertical-align: middle;
}

.hero-unit {
  padding-top: 40px;
}